
/* Mobile */
@media (max-width: 740px) {
  #live-header {
    background: rgba(1, 1, 53, 1);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  #live-header h2 {
    font-size: 2.1rem;
    color: #ffff;
    font-family: "Audiowide";
    text-align: left;
    margin: 0 0 5px 3.5%;
  }

  #live-header a {
    text-decoration: none;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-top: 2px solid #00daff;
    padding-top: 10px;
    align-self: center;
  }

  #nav p {
    text-align: center;
    font-size: 0.5rem;
  }

  #nav a {
    text-decoration: none;
    transition: all 0.1s;
    font-size: 0.7rem;
  }

  #nav p a {
    color: #fff;
    font-family: Audiowide;
  }

  #nav p a:hover {
    border-top: 1px solid #00daff;
    border-bottom: 1px solid #00daff;
  }
}



/*Desktop*/

@media (min-width: 741px) {
  #live-header {
    background: rgba(1, 1, 53, 1);
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px 0 0 50px;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
  }

  #live-header h2 {
    font-size: 2.6rem;
    color: #fff;
    font-family: "Audiowide";
    text-align: left;
    margin-bottom: 5px;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-top: 2px solid #00daff;
    padding-top: 10px;
  }

  #nav p {
    text-align: center;
  }

  #nav a {
    text-decoration: none;
    transition: all 0.1s;
    font-size: 1rem;
  }

  #nav p a {
    color: #fff;
    font-family: Audiowide;
  }

  #nav p a:hover {
    border-top: 1px solid #00daff;
    border-bottom: 1px solid #00daff;
  }
}
