
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Monoton");

/*
repeating-linear-gradient(
    45deg,
    #222222 0%,
    #222222 10%,
    #141414 0%,
    #141414 50%
  )
  0 / 15px 15px
*/

@media (max-width: 740px) {
  #live-header {
    background: repeating-linear-gradient(
      65deg,
      hsl(0,0%,0%) 0%,
      hsl(0,0%,10%) 27%,
      hsl(0,0%,50%) 37%,
      hsl(0,0%,20%) 37%,
      hsl(0,0%,5%) 67%,
      hsl(0,0%,5%) 100%
      );
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  #live-header h2 {
    font-size: 2rem;
    color: #00daff;
    font-family: "Audiowide";
    -webkit-animation: neon6 3.5s ease-in-out infinite alternate;
    -moz-animation: neon6 3.5s ease-in-out infinite alternate;
    animation: neon6 3.5s ease-in-out infinite alternate;
    text-align: center;
  }

  #live-header h3 {
    padding: 5px 0;
    color: #89FFB1;
    font-family: "Audiowide";
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: underline;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 5px;
    align-self: center;
  }

  #nav p {
    text-align: center;
    font-size: .5rem;
  }

  #nav a {
    text-decoration: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    font-size: .7rem;
  }

  #nav p a {
    color: #00daff;
    font-family: Audiowide;
    -webkit-animation: neon6 3.5s ease-in-out infinite alternate;
    -moz-animation: neon6 3.5s ease-in-out infinite alternate;
    animation: neon6 3.5s ease-in-out infinite alternate;
  }

  #nav p a:hover {
    color: #00daff;
    font-family: Audiowide;
    -webkit-animation: neon1 0.3s ease-in-out infinite alternate;
    -moz-animation: neon1 0.3s ease-in-out infinite alternate;
    animation: neon1 0.3s ease-in-out infinite alternate;
  }
}

@media (min-width: 740px) {
  #live-header {
    background: repeating-linear-gradient(
        45deg,
        #222222 0%,
        #222222 10%,
        #141414 0%,
        #141414 50%
      )
      0 / 15px 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: COLUMN;
    justify-content: center;
    align-items: center;
  }

  #live-header h2 {
    font-size: 6rem;
    color: #00daff;
    font-family: "Audiowide";
    -webkit-animation: neon6 3.5s ease-in-out infinite alternate;
    -moz-animation: neon6 3.5s ease-in-out infinite alternate;
    animation: neon6 3.5s ease-in-out infinite alternate;
  }

  /*nice red #9F0800*/

  #live-header h3 {
    margin-top: 10px;
    color: #9f0800;
    font-family: "Audiowide";
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 3rem;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
  }

  #nav p {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 2rem;
  }

  #nav a {
    text-decoration: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    font-size: 2rem;
  }

  #nav p a {
    color: #00daff;
    font-family: Audiowide;
    -webkit-animation: neon6 3.5s ease-in-out infinite alternate;
    -moz-animation: neon6 3.5s ease-in-out infinite alternate;
    animation: neon6 3.5s ease-in-out infinite alternate;
  }

  #nav p a:hover {
    color: #00daff;
    font-family: Audiowide;
    -webkit-animation: neon1 0.3s ease-in-out infinite alternate;
    -moz-animation: neon1 0.3s ease-in-out infinite alternate;
    animation: neon1 0.3s ease-in-out infinite alternate;
  }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #9f0800,
      0 0 70px #9f0800, 0 0 80px #9f0800, 0 0 100px #9f0800, 0 0 150px #9f0800;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #9f0800,
      0 0 35px #9f0800, 0 0 40px #9f0800, 0 0 50px #9f0800, 0 0 75px #9f0800;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #ff9900,
      0 0 17px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 37px #ff9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #0000a4, 0 0 20px #0000a4, 0 0 30px #0000a4,
      0 0 40px #00016b, 0 0 70px #00016b, 0 0 80px #00016b, 0 0 100px #00016b,
      0 0 150px #00016b;
  }
  to {
    text-shadow: 0 0 5px #0000a4, 0 0 10px #0000a4, 0 0 15px #0000a4,
      0 0 20px #00016b, 0 0 35px #00016b, 0 0 40px #00016b, 0 0 50px #00016b,
      0 0 75px #00016b;
  }
}
