@media (max-width: 740px) {
  footer {
    background: repeating-linear-gradient(
        135deg,
        #CFCFCF 0%,
        #CFCFCF 10%,
        #E5E5E5 0%,
        #E5E5E5 50%
      )
      0 / 15px 15px;
      height: 20vh;
      display: flex;
      flex-direction: column;
  }

  footer h2 {
    font-size: 1.8rem;
    padding: 20px 0 15px 0;
    color: #00daff;
    font-family: "Audiowide";
    -webkit-animation: neon6 3.5s ease-in-out infinite alternate;
    -moz-animation: neon6 3.5s ease-in-out infinite alternate;
    animation: neon6 3.5s ease-in-out infinite alternate;
    text-align: center;
  }

  footer nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    padding: 18px 20px 15px 20px;
    margin-bottom: 30px;
    background:
      linear-gradient(
        90deg,
        hsla(0,0%,40%, 0) 0%,
        hsla(0,0%,40%, 1) 10%,
        hsla(0,0%,40%, 1) 90%,
        hsla(0,0%,40%, 0) 100%
      );
  }

  footer nav img {
    width: 30px;
    filter: brightness(0);
  }
}
