@media (max-width: 740px) {
  .ReactCollapse--collapse #absInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 20px auto;
    width: 90%;
  }

  .ReactCollapse--collapse #absInfo .screens {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ReactCollapse--collapse #absInfo img {
    margin: 20px 0 20px 0;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(100, 255, 100, 0.1);
  }

  .ReactCollapse--collapse #absInfo h4 {
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family: Audiowide;
    color: #fff;
    text-align: center;
  }

  .ReactCollapse--collapse #absInfo h5 {
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-family: Audiowide;
    color: #fff;
    text-align: center;
  }

  .ReactCollapse--collapse #absInfo p {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.3rem;
    color: #fff;
    text-align: center;
    margin: 0 10px;
  }

  .ReactCollapse--collapse #absInfo ul {
    list-style: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    text-align: left;
    flex-wrap: wrap;
    width: 80%;
    height: 35px;

    font-family: "Roboto Mono";
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    color: #fff;
    text-align: center;
    margin: 0 10px;
  }

  .ReactCollapse--collapse #absInfo #links {
    width: 90%;
    padding: 25px 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .ReactCollapse--collapse #absInfo #links a {
    font-family: Audiowide;
    color: #00daff;
  }

  .ReactCollapse--collapse #absInfo #links a:hover {
    text-decoration: overline underline;
  }
}

@media (min-width: 741px) {
  .ReactCollapse--content #absInfo{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .ReactCollapse--content #absInfo .screens img {
      height: 400px;
      border-radius: 10px;
  }

  .ReactCollapse--content #absInfo .screens {
    margin: 30px 0;
    height: auto;
    align-self: space-between;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .ReactCollapse--content #absInfo .screens div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  .ReactCollapse--content #absInfo h4 {
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family: Audiowide;
    color: #fff;
    text-align: center;
  }

  .ReactCollapse--content #absInfo h5 {
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-family: Audiowide;
    color: #fff;
    text-align: center;
  }

  .ReactCollapse--content #absInfo p {
    width: 100%;
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.3rem;
    color: #fff;
    text-align: center;
    margin: 0 10px;
  }

  .ReactCollapse--content #absInfo ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: nowrap;
    width: 100%;
    height: 35px;

    font-family: "Roboto Mono";
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.3rem;
    color: #fff;
    text-align: center;
    margin: 0 10px;
  }

  .ReactCollapse--content #absInfo #links {
    width: 100%;
    padding: 25px 00px 0 00px;
    display: flex;
    justify-content: space-between;
  }

  .ReactCollapse--content #absInfo #links a {
    font-family: Audiowide;
    color: #00daff;
  }

  .ReactCollapse--content #absInfo #links a:hover {
    text-decoration: overline underline;
  }

  .ReactCollapse--content #absInfo h3 {
    font-family: Audiowide;
    font-size: 0.7rem;
    color: #00daff;
    -webkit-animation: neon8 3.5s ease-in-out infinite alternate;
    -moz-animation: neon8 3.5s ease-in-out infinite alternate;
    animation: neon8 3.5s ease-in-out infinite alternate;
    cursor: pointer;
  }
}
