@media (max-width: 740px) {
  #about-page {
    height: 100vh;
    background-image:
      url("../denver_Skyline-mobile.jpg"),
      linear-gradient(
        0deg,
        rgba(137,255,177, 1) 0%,
        rgba(137,255,177, 1) 100%
        );
    background-size: contain;
    background-position:bottom;
    background-repeat: no-repeat;
  }
}
