#about-page {
  color: #fff;
  padding: 20px 26px 0px 26px;
  height: 70%;
  background-image: linear-gradient(
    0deg,
    rgba(104, 128, 184, 1) 0%,
    rgba(104, 128, 184, 1) 20%,
    rgba(68, 113, 184, 1) 30%,
    rgba(1, 1, 53, 1) 95%
  );
}

#about-page h3 {
  width: 80%;
  font-size: 1.5rem;
  /* color: #89FFB1; */
  color: #fff;
  font-family: "Audiowide";
}

#about-page ul {
  font-family: "Roboto Mono", serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  border-left: 2px solid #89ffd4;
  margin: 20px 0 20px 2px;
  padding-bottom: 20px;
}

#about-page ul li {
  padding-bottom: 10px;
  padding-left: 15px;
}

#about-page ul em {
  font-style: italic;
}

#about-page li a {
  color: #ffff;
  text-decoration: none;
}

#about-page li a:hover {
  text-decoration: underline;
}

@media (min-width: 740px){
  #about-page {
    color: #89ffd4;
    padding: 20px 26px 0px 26px;
    background-image: linear-gradient(
      0deg,
      rgba(104, 128, 184, 1) 0%,
      rgba(104, 128, 184, 1) 20%,
      rgba(68, 113, 184, 1) 30%,
      rgba(1, 1, 53, 1) 95%
    );
  }

  #about-page section {
    display: flex;
    margin: 5px 25px;
    justify-content: space-between;
  }

  #about-page section div {
    width: 30%;
  }

  #about-page h3 {
    width: 80%;
    font-size: 2.5rem;
    color: #fff;
    font-family: "Audiowide";
  }

  #about-page ul {
    font-family: "Roboto Mono", serif;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    border-left: 5px solid #89ffd4;
    margin: 20px 0 20px 2px;
    padding-bottom: 20px;
  }

  #about-page ul li {
    padding-bottom: 10px;
    padding-left: 15px;
  }

  #about-page ul em {
    font-style: italic;
  }

  #about-page li a {
    color: #ffff;
    text-decoration: none;
  }

  #about-page li a:hover {
    text-decoration: underline;
  }
}
