@media (max-width: 740px) {
  .ReactCollapse--collapse #pwInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px auto 20px auto;
    width: 90%;
  }

  .ReactCollapse--collapse #pwInfo img {
    margin: 20px 0 20px 20px;
    width: 40%;
    border-radius: 10px;
    background-color: rgba(100, 255, 100, 0.1);
  }

  .ReactCollapse--collapse #pwInfo h4 {
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family: Audiowide;
    color: #00daff;
    text-align: center;
  }

  .ReactCollapse--collapse #pwInfo h5 {
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-family: Audiowide;
    color: #00daff;
    text-align: center;
  }

  .ReactCollapse--collapse #pwInfo p {
    font-family: Audiowide;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    color: #00daff;
    text-align: center;
    margin: 0 10px;
  }

  .ReactCollapse--collapse #pwInfo ul {
    list-style: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    text-align: left;
    flex-wrap: wrap;
    width: 80%;
    height: 35px;

    font-family: Audiowide;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    color: #00daff;
    text-align: center;
    margin: 0 10px;
  }
}
