@media (max-width: 740px) {
  .project-slide img {
    margin: 15px 10px 30px 10px;
    width: 85%;
  }

  .project-slide h3 {
    font-family: Audiowide;
    font-size: .7rem;
    color: #00daff;
    -webkit-animation: neon8 3.5s ease-in-out infinite alternate;
    -moz-animation: neon8 3.5s ease-in-out infinite alternate;
    animation: neon8 3.5s ease-in-out infinite alternate;
  }

  @-webkit-keyframes neon8 {
    from {
      text-shadow:
        0 0 3px #0000a4,
        0 0 10px #0000a4,
        0 0 15px #0000a4,

        0 0 10px #FFA0B6,
        0 0 17px #FFA0B6,
        0 0 20px #FFA0B6,
        0 0 25px #FFA0B6,
        0 0 37px #FFA0B6;
    }
    to {
      text-shadow:
        0 0 5px #0000a4,
        0 0 10px #0000a4,
        0 0 15px #0000a4,

        0 0 20px #FFA0B6,
        0 0 35px #FFA0B6,
        0 0 40px #FFA0B6,
        0 0 50px #FFA0B6,
        0 0 75px #FFA0B6;
    }
  }
}
