@media (max-width: 740px) {
  .project-slide img#pw-logo {
    margin: 15px 10px 15px 10px;
    width: 85%;
  }


}

.project-slide h3 {
  font-family: Audiowide;
  font-size: .7rem;
  cursor: pointer;
  color: #00daff;
  -webkit-animation: neon8 3.5s ease-in-out infinite alternate;
  -moz-animation: neon8 3.5s ease-in-out infinite alternate;
  animation: neon8 3.5s ease-in-out infinite alternate;
}
