html {
  background-color: hsl(0,0%,2%);
  color: white
}

/*
@media (min-width: 30em) and (orientation: landscape) { ... }
@media screen and (min-width: 30em) and (orientation: landscape) { ... }
*/


@-webkit-keyframes neon9 {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 27px #fff,
      0 0 20px #fff,
      0 0 25px #fff,
      0 0 37px #fff;
  }
  to {
    text-shadow:
      0 0 10px #fff,
      0 0 27px #fff,
      0 0 20px #fff,
      0 0 25px #fff,
      0 0 37px #fff;
  }
}
