#projects-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: repeating-linear-gradient(
      45deg,
      #01072E 0%,
      #01072E 10%,
      #000312 0%,
      #000312 50%
    )
    0 / 15px 15px;
}

#projects-section h2 {
  font-family: Audiowide;
  font-size: 2rem;
  margin: 10px 0 20px 0;
  color: #00daff;
  text-decoration: underline;
}

#projects-section section div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects-section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
