@media (max-width: 740px) {
  #projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: repeating-linear-gradient(
        90deg,
        #000 0%,
        #000 10%,
        rgba(1, 1, 53, 1) 0%,
        rgba(1, 1, 53, 1) 11%
      )
      0 / 15px 15px;
    padding: 20px 20px 50px 20px;
    margin-top: -5px;
  }

  #projects-section h2 {
    font-family: Audiowide;
    font-size: 2rem;
    margin: 10px 0 20px 0;
    color: #fff;
    -webkit-animation: neon7 3.5s ease-in-out infinite alternate;
    -moz-animation: neon7 3.5s ease-in-out infinite alternate;
    animation: neon7 3.5s ease-in-out infinite alternate;
    text-decoration: underline overline;
  }

  #projects-section section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  /* .project-slide {
    height: 40%;
    width: 45%;
  } */

  .project-slide h3 {
    font-family: Audiowide;
    font-size: 0.7rem;
    color: #00daff;
    -webkit-animation: neon8 3.5s ease-in-out infinite alternate;
    -moz-animation: neon8 3.5s ease-in-out infinite alternate;
    animation: neon8 3.5s ease-in-out infinite alternate;
  }

  .project-slide img {
    width: 75%;
    margin: 0 0 10px 0;
  }

  .project-slide:hover {
    cursor: pointer;
  }
}

@media (min-width: 741px) {
  #projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: repeating-linear-gradient(
        90deg,
        #000 0%,
        #000 10%,
        rgba(1, 1, 53, 1) 0%,
        rgba(1, 1, 53, 1) 11%
      )
      0 / 15px 15px;
    padding: 20px 20px 50px 20px;
    margin-top: -5px;
  }

  #projects-section h2 {
    font-family: Audiowide;
    font-size: 2rem;
    margin: 10px 0 20px 0;
    color: #fff;
    -webkit-animation: neon7 3.5s ease-in-out infinite alternate;
    -moz-animation: neon7 3.5s ease-in-out infinite alternate;
    animation: neon7 3.5s ease-in-out infinite alternate;
    text-decoration: underline overline;
  }

  #projects-section section {
    display: flex;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  /* .project-slide {
    height: 40%;
    width: 45%;
  } */

  .project-slide h3 {
    font-family: Audiowide;
    font-size: 0.7rem;
    color: #00daff;
    -webkit-animation: neon8 3.5s ease-in-out infinite alternate;
    -moz-animation: neon8 3.5s ease-in-out infinite alternate;
    animation: neon8 3.5s ease-in-out infinite alternate;
  }

  .project-slide img {
    width: 75%;
    margin: 0 0 10px 0;
  }

  .project-slide:hover {
    cursor: pointer;
  }
  /* #projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: repeating-linear-gradient(
        90deg,
        #000 0%,
        #000 10%,
        rgba(1, 1, 53, 1) 0%,
        rgba(1, 1, 53, 1) 11%
      )
      0 / 15px 15px;
    padding: 20px 0 50px 0;
    margin-top: -5px;
    border: 2px solid blue;
  }

  #projects-section h2 {
    font-family: Audiowide;
    font-size: 2rem;
    margin: 10px 0 20px 0;
    color: #fff;
    text-decoration: underline overline;
  }

  #projects-section > section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    margin: 10px 0;
  }

  .project-slide h3 {
    font-family: Audiowide;
    font-size: 0.7rem;
    color: #00daff;
    -webkit-animation: neon8 3.5s ease-in-out infinite alternate;
    -moz-animation: neon8 3.5s ease-in-out infinite alternate;
    animation: neon8 3.5s ease-in-out infinite alternate;
  }

  .project-slide {
    width: 100%;
    height: 150px;
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-slide:hover {
    cursor: pointer;
  } */
}

@-webkit-keyframes neon8 {
  from {
    text-shadow: 0 0 3px rgba(0, 0, 164, 1), 0 0 10px rgba(0, 0, 164, 1),
      0 0 15px rgba(0, 0, 164, 1), 0 0 10px #ffa0b6, 0 0 17px #ffa0b6,
      0 0 20px #ffa0b6, 0 0 25px #ffa0b6, 0 0 37px #ffa0b6;
  }
  to {
    text-shadow: 0 0 5px #0000a4, 0 0 10px #0000a4, 0 0 15px #0000a4,
      0 0 20px #ffa0b6, 0 0 35px #ffa0b6, 0 0 40px #ffa0b6, 0 0 50px #ffa0b6,
      0 0 75px #ffa0b6;
  }
}

@-webkit-keyframes neon10 {
  from {
    box-shadow: 0 0 3px #0000a4, 0 0 10px #0000a4, 0 0 15px #0000a4,
      0 0 10px #ffa0b6, 0 0 17px #ffa0b6, 0 0 20px #ffa0b6, 0 0 25px #ffa0b6,
      0 0 37px #ffa0b6;
  }
  to {
    box-shadow: 0 0 5px #0000a4, 0 0 10px #0000a4, 0 0 15px #0000a4,
      0 0 20px #ffa0b6, 0 0 35px #ffa0b6, 0 0 40px #ffa0b6, 0 0 50px #ffa0b6,
      0 0 75px #ffa0b6;
  }
}
